extends ../layout

block content
    h1= title
    form(action="/auth/register", method="post")
        .form-group
            label(for="email") Email
            input(type="email" name="email" id="email" class="form-control" placeholder="Email")
        .form-group
            label(for="password") Password
            input(type="password" name="password" id="password" class="form-control" placeholder="Password")
        .form-group
            label(for="firstName") First Name
            input(type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name")
        .form-group 
            label(for="lastName") Last Name
            input(type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name")
        .form-group
            input(type="submit" value="Register" class="btn btn-primary mt-3")